*
!.gitignore
!README.md
!envs
!envs/requirements.yaml
!envs/requirements_qgis.yaml
!utils
!utils/legends.py
!utils/data_preprocessing.py
!utils/proximity_calc.py
!utils/fetch_OSM.py
!utils/local_OSM_shp_files.py
!utils/README.md
!Raw_Spatial_Data
!Raw_Spatial_Data/landcover
!Raw_Spatial_Data/landcover/.gitkeep
!Raw_Spatial_Data/DEM
!Raw_Spatial_Data/DEM/.gitkeep
!Raw_Spatial_Data/protected_areas
!Raw_Spatial_Data/protected_areas/.gitkeep
!Raw_Spatial_Data/OSM
!Raw_Spatial_Data/OSM/.gitkeep
!Raw_Spatial_Data/GOAS
!Raw_Spatial_Data/GOAS/.gitkeep
!Raw_Spatial_Data/custom_study_area
!Raw_Spatial_Data/custom_study_area/.gitkeep
!Raw_Spatial_Data/additional_exclusion_polygons
!Raw_Spatial_Data/additional_exclusion_polygons/.gitkeep
!Raw_Spatial_Data/global_solar_wind_atlas
!Raw_Spatial_Data/global_solar_wind_atlas/.gitkeep
!configs
!configs/config_template.yaml
!spatial_data_prep.py
!data_exploration.ipynb
!Exclusion.py
!Exclusion2.py
!GLAES_Aachen.ipynb
!GLAES_Aachen_test_data.ipynb
!Atlite_custom_region.ipynb
!create_qgis_project.py
!other
!other/pyrosm_test.ipynb
!other/OSMnx.ipynb
!other/earthOSM_test.ipynb
!other/color_raster_file.ipynb
!other/resampling_reprojecting.ipynb
!snakefile_wind
!utils/simplify.py
!utils/extact_china_provinces.py