*
!.gitignore
!README.md
!envs
!envs/requirements.yaml
!utils
!utils/legends.py
!utils/data_preprocessing.py
!Raw_Spatial_Data
!Raw_Spatial_Data/DEM
!Raw_Spatial_Data/OSM
!spatial_data_prep_JOM.py
!data_exploration.ipynb
!GLAES_Aachen.ipynb
!GLAES_Aachen_test_data.ipynb
!Atlite_custom_region.ipynb