#--data retrieval----------------------------------------------------------------------
# landcover
landcover_source: openeo   #'file' or 'openeo' or leave empty to not download (DEM data depends on landcover data due to co-registering)

# OSM data
OSM_source: overpass #'geofabrik' or 'overpass'

#land data
railways: 1
roads: 1
airports: 1
waterbodies: 1
military: 1

# power infrastructure
substations: 1
transmission_lines: 1
generators: 1
plants: 1

# coastlines 
coastlines: 1

# wind and solar resources
wind_atlas: 1
solar_atlas: 1
country_name_solar_atlas: China # name of country or "world" if you want to download the whole world 

# additional polygons and rasters
additional_exclusion_polygons_folder_name: 
additional_exclusion_rasters_folder_name: 

# protected areas
protected_areas_source: file #WDPA or file or 0
wdpa_url: https://d1gam3xoknrgr2.cloudfront.net/current/WDPA_WDOECM_Mar2025_Public_CHN.zip
protected_areas_filename: 'China_Nature_reserve.gpkg' #include file ending (.gpkg or .geojson), needs to be in EPSG4326


CRS_manual:  #if None use empty string

# proximity data
compute_substation_proximity: 1
compute_road_proximity: 1
compute_terrain_ruggedness: 1


# name of folders and files with raw data
region_folder_name: NeiMongol #always needed, same name as in gadm.org (if country is studied, then use country name)
OSM_folder_name: NeiMongol #name of the folder with all raw OSM shapefiles from Geofabrik; needed if Geofabrik used as OSM source

DEM_filename: gebco_cutout.tif 
landcover_filename: # PROBAV_LC100_global_v3.0.1_2019-nrt_Discrete-Classification-map_EPSG-4326.tif


# Define study region (use geopackage from gadm.org to inspect in QGIS or go on gadm.org)
# use GADM boundary (https://gadm.org/maps.html)
region_name: NeiMongol
country_code: CHN       #always needed (also for global wind atlas)
gadm_level: 1  # needed when downloading data from GADM - 1 for country, 2 for state, 3 for district, etc. (see gadm.org)
# or use custom region (if file is passed, then this is used as default over the GADM definitions above)
custom_study_area_filename: 'gadm41_CHN_1_NeiMongol.geojson' #if None use empty string



#--exclusions----------------------------------------------------------------------
# scenario name (written in available area filename)
scenario: 'ref'
technology: 'onshorewind' # or 'solar', used for the filename of the available area

# deployment density
deployment_density: 50 # MW/km²

# resolution manual
resolution_manual: 

#landcover codes (buffer in meters) (here landcover codes for openeo as default example)
#| Code | Class                    |
#| ---- | ------------------------ |
#| 10   | Tree cover               |
#| 20   | Shrubland                |
#| 30   | Grassland                |
#| 40   | Cropland                 |
#| 50   | Built-up                 |
#| 60   | Bare / sparse vegetation |
#| 70   | Snow and ice             |
#| 80   | Permanent water bodies   |
#| 90   | Herbaceous wetland       |
#| 95   | Mangroves                |
#| 100  | Moss and lichen          |

landcover_without_buffer: [10,40,70,80,90,95] #list of landcover codes
landcover_with_buffer: #dictionary of landcover code with corresponding buffer in meters
  50: 500 #built-up land with 2000m buffer 

# Below, if you dont want to use some data then insert "null" (without quotation marks). This will skip the file during the exclusion calculation.

# DEM
max_elevation: null #meters
max_slope: 20 #degrees

# spatial elements (buffer in meters)
railways_buffer: 50
roads_buffer: 50
airports_buffer: 2000
waterbodies_buffer: 500
military_buffer: null
coastlines_buffer: 200
protectedAreas_buffer: 1000
transmission_lines_buffer: 100

# additional exclusion polygons
additional_exclusion_polygons_buffer: [] #list of buffers in meters in the order of the files in the "additional_exclusion_polygons"-folder in the region data folder

# solar and wind resources
# m/s
min_wind_speed: null
max_wind_speed: null

# kWh/m²/year
min_solar_production: null
max_solar_production: null

# inclusion filter
# EITHER use substations OR transmission (meters)
substations_inclusion_buffer: null
transmission_inclusion_buffer: null

# area filter
min_pixels_connected: 5
min_pixels_x: # currently not working, use min_pixels_connected instead
min_pixels_y: # currently not working, use min_pixels_connected instead

# model areas 
model_areas_filename:


#--advanced details----------------------------------------------------------------------
# solar data
measure: LTAym_YearlyMonthlyTotals

force_osm_download: 1 #if set to 1, OSM data will be downloaded even if it is already present in the folder

# simplification tolerance for study area
study_area:
  tolerance: 0.0005

# shape simplification for overpass
target_vertices:  360
tolerance_min: 0.0  # Minimum simplification tolerance
tolerance_max: 0.5  # Maximum simplification tolerance, 

# GEOFABRIK: OSM feature classes for shapefiles (fclass names need to be in a list!)
fclass: 
  railways: null # null means nothing is filtered
  roads: ['motorway', 'trunk', 'primary', 'secondary', 'tertiary', 'unclassified', 'motorway_link', 'trunk_link', 'primary_link', 'secondary_link', 'tertiary_link']
  airports: ['airport', 'airfield']
  waterbodies: ['water', 'reservoir', 'river', 'riverbank']
  military: ['military']

# OVERPASS API: OSM features to fetch
# the name before "_" should match the binary filtering above. 
# all OSM keys with its values: https://wiki.openstreetmap.org/wiki/Map_features
overpass_features:
  railways: &railways ['rail']
  roads: &roads ['motorway', 'trunk', 'primary', 'secondary', 'tertiary', 'unclassified', 'motorway_link', 'trunk_link', 'primary_link', 'secondary_link', 'tertiary_link']
  airports: &airports ['aerodrome']
  waterbodies: &waterbodies ['water']
  military: &military ['military']
  substations: &substations ['substation']
  plants: &plants ['plant']
  transmission_lines: &transmission_lines ['line']
  generators: &generators ['generator']
# don't change following lines
osm_features_config:
  substations: ["power", *substations, "way"]
  plants: ["power", *plants, "way"]
  transmission_lines: ["power", *transmission_lines, "way"]
  generators: ["power", *generators, "node"]
  roads: ["highway", *roads, "way"]
  railways: ["railway", *railways, "way"]
  airports: ["aeroway", *airports, "way"]
  waterbodies: ["natural", *waterbodies, "way"]
  military: ["landuse", *military, "way"]


# landcover data
resolution_landcover: 0.008999280057498208 # in degress, since EPSG4326; 0.008999280057498208 degrees is ca. 1000m at equator

# north facing pixels to be excluded (pixels with slope bigger X and aspect between Y and Z)
north_facing_pixels: null
X: 10
Y: 310
Z: 50

# world database of protected areas
wdpa_consider_status: ["Adopted", "Designated", "Established", "Inscribed"] #all possibilies: "Adopted", "Designated", "Established", "Inscribed", "Proposed"


#--Weather and energy data assumptions-------------------------------------------------------------
weather_data_path: "E:/CETO 2025 Spatial Analysis data/GIS/ERA5/"

weather_year: '1990'

# Technology data
#tech: "HeatDemand"

# Heat demand
heat_demand_start_day: "01-10" #start day of heat demand profile, format: DD-MM
heat_demand_end_day: "30-04" #end day of heat demand profile, format: DD-MM
heat_demand_hour_shift: 8 # shift of heat demand profile in hours, such that daily heat demand average follows diurnal temperature profile
heat_demand_constant: 0 # Corresponding to no temperature independent heat demand
heat_demand_threshold: 15 # threshold for heat demand profile, in degrees Celsius

#--Suitability cost assumptions----------------------------------------------------------------------

# Minimum area for resource grades
min_area_rg: 0 # in km²

# Cost tiers
tiers: {
    'Tier1': [0.5, 1.00],
    'Tier2': [1.00, 1.50],
    'Tier3': [1.50, 2.00],
    'Tier4': [2.00, 2.50],
    'Tier5': [2.50, 100],
    }

# Substation distance (meters)
average_sub_dist: {
    'onshorewind': 5000,
    'solar': 5000
}

# Terrain modifier (terrain types defined by ruggedness ranges)
terrain_modifier:
# Plains
  - range: [0, 150]
    cost: {
        'onshorewind': 0.02,
        'solar': -0.01
    }
# Hills
  - range: [150, 450]
    cost: {
        'onshorewind': 0.07,
        'solar': 0.04
    }
# Mountains
  - range: [450, 10000]
    cost: {
        'onshorewind': 0.17,
        'solar': 0.09
    }

landcover_modifier: {
    60: { # Bare / sparse vegetation
        'onshorewind': -0.26,
        'solar': -0.15
    }
}

region_modifier: {
    'Anhui': {'onshorewind': 1.01, 'solar': 1.03},
    'Beijing': {'onshorewind': 0.98, 'solar': 0.99},
    'Chongqing': {'onshorewind': 1.01, 'solar': 1.01},
    'Fujian': {'onshorewind': 1.01, 'solar': 1.03},
    'Gansu': {'onshorewind': 0.93, 'solar': 0.91},
    'Guangdong': {'onshorewind': 1.03, 'solar': 1.04},
    'Guangxi': {'onshorewind': 1.03, 'solar': 1.04},
    'Guizhou': {'onshorewind': 1.03, 'solar': 1.04},
    'Hainan': {'onshorewind': 1.03, 'solar': 1.04},
    'Hebei': {'onshorewind': 0.98, 'solar': 0.99},
    'Heilongjiang': {'onshorewind': 0.98, 'solar': 0.94},
    'Henan': {'onshorewind': 1.01, 'solar': 1.01},
    'Hubei': {'onshorewind': 1.01, 'solar': 1.01},
    'Hunan': {'onshorewind': 1.01, 'solar': 1.01},
    'NeiMongol': {'onshorewind': 0.98, 'solar': 0.99},
    'Jiangsu': {'onshorewind': 1.01, 'solar': 1.03},
    'Jiangxi': {'onshorewind': 1.01, 'solar': 1.01},
    'Jilin': {'onshorewind': 0.98, 'solar': 0.94},
    'Liaoning': {'onshorewind': 0.98, 'solar': 0.94},
    'Ningxia': {'onshorewind': 0.93, 'solar': 0.91},
    'Qinghai': {'onshorewind': 0.93, 'solar': 0.91},
    'Shaanxi': {'onshorewind': 0.93, 'solar': 0.91},
    'Shandong': {'onshorewind': 0.98, 'solar': 0.99},
    'Shanghai': {'onshorewind': 1.01, 'solar': 1.03},
    'Shanxi': {'onshorewind': 0.98, 'solar': 0.99},
    'Sichuan': {'onshorewind': 1.01, 'solar': 1.01},
    'Tianjin': {'onshorewind': 0.98, 'solar': 0.99},
    'Xinjiang': {'onshorewind': 0.93, 'solar': 0.91},
    'Xizang': {'onshorewind': 0.93, 'solar': 0.91},
    'Yunnan': {'onshorewind': 1.03, 'solar': 1.04},
    'Zhejiang': {'onshorewind': 1.01, 'solar': 1.03}
}
