
study_region_name: Odense #[mandatory][string] all files and the results folder will be named like that
country_code: DNK #[mandatory][string: 3-letter ISO code] also needed for global wind atlas


#--define study region----------------------------------------------------------------------
# use GADM boundary (https://gadm.org/maps.html)
GADM_region_name: Odense #[situational][string] exact name as in GADM file (NAME_{gadm_level})
GADM_level: 2 #[situational][integer]
# or use custom region (if file is passed, then this is used instead of the GADM definitions above)
custom_study_area_filename: #[situational][string] if you need a dynamic filename, then use {region_name} in the filename which is replaced in the spatial_data_prep script e.g. gadm41_CHN_1_{region_name}.geojson


#--data retrieval----------------------------------------------------------------------
# landcover
landcover_source: openeo   #[mandatory][string: file/openeo/ ] or leave empty to not download 
resolution_landcover:  #[optional][float] set manual resolution for openeo download, in degress (EPSG4326); 0.008999280057498208 degrees is ca. 1000m at equator
landcover_filename: #[situational][string] filename including file ending of local landcover file in Raw_Spatial_Data/landcover

# DEM 
DEM_filename: gebco_cutout.tif #[mandatory][string] name of DEM file

# OSM data
OSM_source: overpass #[mandatory][string: overpass/geofabrik]
OSM_folder_name:  #[situational][string] name of the folder within /Raw_Spatial_Data/OSM with all raw OSM shapefiles from Geofabrik; only needed if Geofabrik used as OSM source

# OSM features
railways: 1
roads: 1
airports: 1
waterbodies: 1
military: 1

# OSM power infrastructure features
substations: 1
transmission_lines: 1
generators: 1
plants: 1

# coastlines 
coastlines: 1

# wind and solar resources (GWA and GSA)
wind_atlas: 1
solar_atlas: 1
country_name_solar_atlas: Denmark #[mandatory][string] name of country, check https://globalsolaratlas.info/download  
solar_atlas_measure: LTAym_YearlyMonthlyTotals #[situational][string] check if this measures exists under "GIS Data" on https://globalsolaratlas.info/download for your country

# protected areas
protected_areas_source: WDPA #[mandatory][WDPA/file/0]
wdpa_url: https://d1gam3xoknrgr2.cloudfront.net/current/WDPA_WDOECM_Nov2025_Public_DNK.zip #[mandatory][string]
protected_areas_filename:  #[situational][string] include file ending (.gpkg or .geojson), needs to be in EPSG4326

# forest density (optional; raster in Raw_Spatial_Data/Additional_layers)
forest_density_source: 0  # keep 0 to disable; set filename below to use
forest_density_filename:  # raster filename (e.g. .tif) placed in Raw_Spatial_Data/Additional_layers

# compute helper datasets
compute_substation_proximity: 1
compute_road_proximity: 1
compute_terrain_ruggedness: 1

CRS_manual:  #set CRS instead of calculating local UTM zone

# additional polygons and rasters
additional_exclusion_polygons_folder_name: #[optional][string]
additional_exclusion_rasters_folder_name: #[optional][string]


#--exclusions----------------------------------------------------------------------

# see onshorewind.yaml and solar.yaml

# scenario name (written in available area filename)
scenario: ref
technology: solar #onshorewind or solar, used for the filename of the available area

# model areas 
model_areas_filename:


#--advanced details----------------------------------------------------------------------

force_osm_download: 0 #if set to 1, OSM data will be downloaded even if it is already present in the folder

# simplification tolerance for study area
study_area:
  tolerance: 0.0005

# shape simplification for overpass
target_vertices:  360
tolerance_min: 0.0  # Minimum simplification tolerance
tolerance_max: 0.5  # Maximum simplification tolerance, 

# GEOFABRIK: OSM feature classes for shapefiles (fclass names need to be in a list!)
fclass: 
  railways: null # null means nothing is filtered
  roads: ['motorway', 'trunk', 'primary', 'secondary', 'tertiary', 'unclassified', 'motorway_link', 'trunk_link', 'primary_link', 'secondary_link', 'tertiary_link']
  airports: ['airport', 'airfield']
  waterbodies: ['water', 'reservoir', 'river', 'riverbank']
  military: ['military']

# OVERPASS API: OSM features to fetch
# the name before "_" should match the binary filtering above. 
# all OSM keys with its values: https://wiki.openstreetmap.org/wiki/Map_features
overpass_features:
  railways: &railways ['rail']
  roads: &roads ['motorway', 'trunk', 'primary', 'secondary', 'tertiary', 'unclassified', 'motorway_link', 'trunk_link', 'primary_link', 'secondary_link', 'tertiary_link']
  airports: &airports ['aerodrome']
  waterbodies: &waterbodies ['water']
  military: &military ['military']
  substations: &substations ['substation']
  plants: &plants ['plant']
  transmission_lines: &transmission_lines ['line']
  generators: &generators ['generator']
# don't change following lines
osm_features_config:
  substations: ["power", *substations, "way"]
  plants: ["power", *plants, "way"]
  transmission_lines: ["power", *transmission_lines, "way"]
  generators: ["power", *generators, "node"]
  roads: ["highway", *roads, "way"]
  railways: ["railway", *railways, "way"]
  airports: ["aeroway", *airports, ["way", "relation"]]
  waterbodies: ["natural", *waterbodies, ["way", "relation"]]
  military: ["landuse", *military, "way"]


# north facing pixels to be excluded (pixels with slope bigger X and aspect between Y and Z)
north_facing_pixels: null
X: 10
Y: 310
Z: 50

# world database of protected areas
wdpa_consider_status: ["Adopted", "Designated", "Established", "Inscribed"] #all possibilies: "Adopted", "Designated", "Established", "Inscribed", "Proposed"



#--Weather and energy data assumptions-------------------------------------------------------------
weather_data_path: Raw_Spatial_Data 

weather_years: [2019] # list of years 

weather_data_extend: country # 'study_region' or 'geo_bounds'


#--Suitability cost assumptions----------------------------------------------------------------------

# Minimum area for resource grades (% of total available land area)
min_area_rg: 0.05

# Cost tiers
tiers: {
    'Tier1': [0.5, 1.00],
    'Tier2': [1.00, 1.50],
    'Tier3': [1.50, 2.00],
    'Tier4': [2.00, 2.50],
    'Tier5': [2.50, 100],
    }

# Substation distance (meters)
average_sub_dist: {
    'onshorewind': 5000,
    'solar': 5000
}

# Terrain modifier (terrain types defined by ruggedness ranges)
terrain_modifier:
# Plains
  - range: [0, 150]
    cost: {
        'onshorewind': 1.02,
        'solar': 0.99
    }
# Hills
  - range: [150, 450]
    cost: {
        'onshorewind': 1.07,
        'solar': 1.04
    }
# Mountains
  - range: [450, 10000]
    cost: {
        'onshorewind': 1.17,
        'solar': 1.09
    }

landcover_modifier: {
    60: { # Bare / sparse vegetation
        'onshorewind': 0.74,
        'solar': 0.85
    }
}
