
study_region_name: Beijing #all files and the results folder will be named like that
country_code: CHN #3-letter ISO code; also needed for global wind atlas


#--define study region----------------------------------------------------------------------
# use GADM boundary (https://gadm.org/maps.html)
GADM_region_name:  #exact name as in GADM file (NAME_{gadm_level})
GADM_level: 
# or use custom region (if file is passed, then this is used instead of the GADM definitions above)
custom_study_area_filename: 'gadm41_CHN_1_{region_name}.geojson' #if you need a dynamic filename, then use {region_name} in the filename which is replaced in the spatial_data_prep script e.g. gadm41_CHN_1_{region_name}.geojson


#--data retrieval----------------------------------------------------------------------
# landcover
landcover_source: openeo   #'file' or 'openeo' or leave empty to not download (DEM data depends on landcover data due to co-registering)
resolution_landcover: 0.008999280057498208  # for openeo download, in degress (EPSG4326); 0.008999280057498208 degrees is ca. 1000m at equator
landcover_filename: #filename including file ending of local landcover file in Raw_Spatial_Data/landcover

# DEM 
DEM_filename: gebco_cutout.tif 

# OSM data
OSM_source: overpass #geofabrik or overpass
OSM_folder_name:  #name of the folder within /Raw_Spatial_Data/OSM with all raw OSM shapefiles from Geofabrik; only needed if Geofabrik used as OSM source

# OSM features
railways: 1
roads: 1
airports: 1
waterbodies: 1
military: 1

# OSM power infrastructure features
substations: 1
transmission_lines: 1
generators: 1
plants: 1

# coastlines 
coastlines: 1

# wind and solar resources (GWA and GSA)
wind_atlas: 1
solar_atlas: 1
country_name_solar_atlas: China # name of country, check https://globalsolaratlas.info/download  
solar_atlas_measure: LTAym_YearlyMonthlyTotals # check if this measures exists under "GIS Data" on https://globalsolaratlas.info/download for your country

# protected areas
protected_areas_source: file #WDPA or file or 0
wdpa_url: https://d1gam3xoknrgr2.cloudfront.net/current/WDPA_WDOECM_Mar2025_Public_CHN.zip
protected_areas_filename: 'China_Nature_reserve.gpkg'  #include file ending (.gpkg or .geojson), needs to be in EPSG4326

# compute helper datasets
compute_substation_proximity: 1
compute_road_proximity: 1
compute_terrain_ruggedness: 1

CRS_manual:  #set CRS instead of calculating local UTM zone

# additional polygons and rasters
additional_exclusion_polygons_folder_name: 
additional_exclusion_rasters_folder_name: 


#--exclusions----------------------------------------------------------------------

# see onshorewind.yaml and solar.yaml

# scenario name (written in available area filename)
scenario: ref
technology: onshorewind #onshorewind or solar, used for the filename of the available area

# model areas 
model_areas_filename:


#--advanced details----------------------------------------------------------------------

force_osm_download: 1 #if set to 1, OSM data will be downloaded even if it is already present in the folder

# simplification tolerance for study area
study_area:
  tolerance: 0.0005

# shape simplification for overpass
target_vertices:  360
tolerance_min: 0.0  # Minimum simplification tolerance
tolerance_max: 0.5  # Maximum simplification tolerance, 

# GEOFABRIK: OSM feature classes for shapefiles (fclass names need to be in a list!)
fclass: 
  railways: null # null means nothing is filtered
  roads: ['motorway', 'trunk', 'primary', 'secondary', 'tertiary', 'unclassified', 'motorway_link', 'trunk_link', 'primary_link', 'secondary_link', 'tertiary_link']
  airports: ['airport', 'airfield']
  waterbodies: ['water', 'reservoir', 'river', 'riverbank']
  military: ['military']

# OVERPASS API: OSM features to fetch
# the name before "_" should match the binary filtering above. 
# all OSM keys with its values: https://wiki.openstreetmap.org/wiki/Map_features
overpass_features:
  railways: &railways ['rail']
  roads: &roads ['motorway', 'trunk', 'primary', 'secondary', 'tertiary', 'unclassified', 'motorway_link', 'trunk_link', 'primary_link', 'secondary_link', 'tertiary_link']
  airports: &airports ['aerodrome']
  waterbodies: &waterbodies ['water']
  military: &military ['military']
  substations: &substations ['substation']
  plants: &plants ['plant']
  transmission_lines: &transmission_lines ['line']
  generators: &generators ['generator']
# don't change following lines
osm_features_config:
  substations: ["power", *substations, "way"]
  plants: ["power", *plants, "way"]
  transmission_lines: ["power", *transmission_lines, "way"]
  generators: ["power", *generators, "node"]
  roads: ["highway", *roads, "way"]
  railways: ["railway", *railways, "way"]
  airports: ["aeroway", *airports, "way"]
  waterbodies: ["natural", *waterbodies, "way"]
  military: ["landuse", *military, "way"]


# north facing pixels to be excluded (pixels with slope bigger X and aspect between Y and Z)
north_facing_pixels: null
X: 10
Y: 310
Z: 50

# world database of protected areas
wdpa_consider_status: ["Adopted", "Designated", "Established", "Inscribed"] #all possibilies: "Adopted", "Designated", "Established", "Inscribed", "Proposed"



#--Weather and energy data assumptions-------------------------------------------------------------
weather_data_path: Raw_Spatial_Data 

weather_year: 1990 #[str(y) for y in range(1990,2020)]

# Heat demand
heat_demand_start_day: "01-10" #start day of heat demand profile, format: DD-MM
heat_demand_end_day: "30-04" #end day of heat demand profile, format: DD-MM
heat_demand_hour_shift: 8 # shift of heat demand profile in hours, such that daily heat demand average follows diurnal temperature profile
heat_demand_constant: 0 # Corresponding to no temperature independent heat demand
heat_demand_threshold: 15 # threshold for heat demand profile, in degrees Celsius

#--Suitability cost assumptions----------------------------------------------------------------------

# Minimum area for resource grades and distributed areas (km2)
min_area_rg: 125
min_area_distributed: 25

# Cost tiers
tiers: {
    'Tier1': [0, 1.00],
    'Tier2': [1.00, 1.25],
    'Tier3': [1.25, 1.50],
    'Tier4': [1.50, 2.00],
    'Tier5': [2.00, 1000],
    }

# Substation distance (meters)
average_sub_dist: {
    'onshorewind': 10000,
    'solar': 10000
}

# Terrain modifier (terrain types defined by ruggedness ranges)
terrain_modifier:
# Plains
  - range: [0, 150]
    cost: {
        'onshorewind': 1.02,
        'solar': 0.99
    }
# Hills
  - range: [150, 450]
    cost: {
        'onshorewind': 1.07,
        'solar': 1.04
    }
# Mountains
  - range: [450, 10000]
    cost: {
        'onshorewind': 1.17,
        'solar': 1.09
    }

landcover_modifier: {
    60: { # Bare / sparse vegetation
        'onshorewind': 0.74,
        'solar': 0.85
    }
}

# Region modifier (regional multipliers for wind and solar resources)
region_modifier: {
    'Anhui': {'onshorewind': 1.01, 'solar': 1.03},
    'Beijing': {'onshorewind': 0.98, 'solar': 0.99},
    'Chongqing': {'onshorewind': 1.01, 'solar': 1.01},
    'Fujian': {'onshorewind': 1.01, 'solar': 1.03},
    'Gansu': {'onshorewind': 0.93, 'solar': 0.91},
    'Guangdong': {'onshorewind': 1.03, 'solar': 1.04},
    'Guangxi': {'onshorewind': 1.03, 'solar': 1.04},
    'Guizhou': {'onshorewind': 1.03, 'solar': 1.04},
    'Hainan': {'onshorewind': 1.03, 'solar': 1.04},
    'Hebei': {'onshorewind': 0.98, 'solar': 0.99},
    'Heilongjiang': {'onshorewind': 0.98, 'solar': 0.94},
    'Henan': {'onshorewind': 1.01, 'solar': 1.01},
    'Hubei': {'onshorewind': 1.01, 'solar': 1.01},
    'Hunan': {'onshorewind': 1.01, 'solar': 1.01},
    'NeiMongol': {'onshorewind': 0.98, 'solar': 0.99},
    'Jiangsu': {'onshorewind': 1.01, 'solar': 1.03},
    'Jiangxi': {'onshorewind': 1.01, 'solar': 1.01},
    'Jilin': {'onshorewind': 0.98, 'solar': 0.94},
    'Liaoning': {'onshorewind': 0.98, 'solar': 0.94},
    'NingxiaHui': {'onshorewind': 0.93, 'solar': 0.91},
    'Qinghai': {'onshorewind': 0.93, 'solar': 0.91},
    'Shaanxi': {'onshorewind': 0.93, 'solar': 0.91},
    'Shandong': {'onshorewind': 0.98, 'solar': 0.99},
    'Shanghai': {'onshorewind': 1.01, 'solar': 1.03},
    'Shanxi': {'onshorewind': 0.98, 'solar': 0.99},
    'Sichuan': {'onshorewind': 1.01, 'solar': 1.01},
    'Tianjin': {'onshorewind': 0.98, 'solar': 0.99},
    'XinjiangUygur': {'onshorewind': 0.93, 'solar': 0.91},
    'Xizang': {'onshorewind': 0.93, 'solar': 0.91},
    'Yunnan': {'onshorewind': 1.03, 'solar': 1.04},
    'Zhejiang': {'onshorewind': 1.01, 'solar': 1.03}
}

# Weight of individual modifiers in the final suitability weight (% of investment cost the component affects)
modifier_weights: {
    'terrain': {
        'onshorewind': 1,
        'solar': 1
    },
    'substation_distance': {
        'onshorewind': 0.1,
        'solar': 0.1
    },
    'region': {
        'onshorewind': 1,
        'solar': 1
    },
}
